main {
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
}

.team-container {
    display: block;
    margin: 2;
    max-width: 105vw;
}

.team-member {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    width: 100%; 
    max-width: 800px; 
    margin: 2rem auto;
    display: flex;
    align-items: center;
    padding: 1.5rem; 
    box-sizing: border-box; 
    transition: transform 0.3s;
}

.team-member:hover {
    transform: translateY(-10px);
}

.team-member img {
    flex-shrink: 0;
    max-width: 120px; 
    height: auto; 
    border-radius: 15%;
    margin-right: 1rem; 
}

.team-member-content {
    flex-grow: 1;
}

.team-member h2 {
    font-size: 1.8rem;
    margin: 0;
    font-weight: bold;
}

.team-member p {
    margin: 0.4rem 0 0;
    font-size: 0.92rem;
    line-height: 1.5;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .team-member {
        flex-direction: column; /* Stack content vertically */
        text-align: center; /* Center-align text */
    }

    .team-member img {
        margin: 0 auto 1rem; /* Center image and add spacing below */
    }

    .more-info {
        display: none; /* Initially hide additional text on mobile */
    }

    .see-more-btn {
        display: inline-block; /* Show button on mobile */
    }
}

/* desktop view */
@media (min-width: 769px) {
    .more-info {
        display: inline; 
    }

    .see-more-btn {
        display: none; 
    }
}

/* Button styling */
.see-more-btn {
    margin-top: 1rem;
    background-color: #fff;
    color: #007bff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.see-more-btn:hover {
    background-color: #fff;
}
