main {
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
}

.text {
    font-size: 1em;
}

.box-container {
    position: relative;
    display: flex;
    min-height: 50vh;
    height: fit-content;
}

.box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box img {
    width: 40%;
    margin: 5%;
    border: solid 5px #7da3cc;
    border-radius: 8px;
}

.boxContent {
    width: 50%;
}

.boxContent h2 {
    margin-bottom: 10px;
    color: #7da3cc;
    font-size: xx-large;
}

.boxContent p {
    font-size: large;
    max-width: 80%;
    font-size: 1.5em;
    line-height: 1.5;
    text-align: justify;
}

.circles-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 70px;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #7da3cc;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s ease;
}

.circle:hover {
    transform: scale(1.1);
}

.circle.active {
    background-color: #7da3cc;
}

.circle:not(.active) {
    background-color: transparent;
}

.latest, .upcoming {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    min-height: 25vh;
    height: fit-content;
    padding: 5%;
    background-color: #7da3cc;
}

.latest h2, .upcoming h2 {
    color: white;
    text-align: center;
    margin: 10px;
    font-size: xx-large;
}

.upcoming{
    background-color: inherit;
}

.upcoming h2{
    color: #7da3cc;
}

.content {
    background-color: white;
    font-family: 'Ariel', sans-serif;
    max-width: 25%;
    margin: 15px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.content:hover {
    transform: translateY(-10px);
}

.news-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.news-container .title {
    text-align: center;
}

.read-article {
    margin: auto;
    margin-top: 1rem;
    background-color: #fff;
    color: #5782af;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
    display: block;
}

.read-article:hover {
    font-weight: bold;
}

.video {
    position: relative;
    margin: auto;
    width: 50%;
    height: 0;
    padding-bottom: 30%;
    margin-bottom: 5%;
    box-shadow: 2px 15px 16px rgba(0, 0, 0, 0.2);
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .box {
        flex-direction: column;
        height: 60vh;
    }

    .box img {
        width: 75%;
    }
    
    .boxContent {
        width: 100%;
    }

    .boxContent h2{
        text-align: center;
        font-size: x-large;
    }
    
    .boxContent p {
        margin: auto;
        font-size: 1.1em;
        line-height: 1.2;
        text-align: center;
    }

    .latest, .upcoming {
        width: 95%;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }

    .content {
        max-width: 90%;
    }
}