main {
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
}

#fish-container {
    position: absolute;
    /* This ensures the fish are positioned relative to this container */
    top: 10%;
    left: 0;
    width: 99vw;
    /* Full width of the viewport */
    height: 75vh;
    /* Adjust according to your fish image size */
    overflow: hidden;
    /* Hide fish that move out of the container bounds */
}

.fish {
    position: absolute;
    /* This allows each fish to move independently */
    width: 6vw;
    left: -6vw;
    min-width: 50px;
    /* Adjust the size of the fish image */
    height: auto;
    animation: moveFish 3s linear infinite;
    opacity: 0.5;
}

/* Randomize vertical starting positions */
.fish:nth-child(1) {
    top: 0%;
    animation-delay: 0s;
}

.fish:nth-child(2) {
    top: 15%;
    animation-delay: 0.1s;
}

.fish:nth-child(3) {
    top: 30%;
    animation-delay: 0.4s;
}

.fish:nth-child(4) {
    top: 45%;
    animation-delay: 0.26s;
}

.fish:nth-child(5) {
    top: 60%;
    animation-delay: 0s;
}

.fish:nth-child(6) {
    top: 75%;
    animation-delay: 0.3s;
}

/* Add more `nth-child` rules for additional fish with varied Y-axis positions and random delays */

@keyframes moveFish {
    0% {
        transform: translateX(-100%);
        /* Start off-screen on the left */
    }

    100% {
        transform: translateX(100vw);
        /* Move across to the right edge of the screen */
    }
}

.container {
    position: relative;
    text-align: center;
    z-index: 2;
}

.box-container {
    position: relative;
    display: flex;
    width: 40vw;
    min-width: 100%;
    height: 50vh;
}

.box {
    min-width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    border: 5px solid orangered;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease;
    border-radius: 25px;
}

.box h2 {
    margin-bottom: 10px;
    color: orangered;
    font-size: xx-large;
}

.box p {
    min-height: 50%;
    font-size: large;
    max-width: 80%;
    line-height: 2.25;
}

.box img {
    max-width: 90%;
    max-height: 30%;
    padding: 1%;
}

.circles-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid orangered;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s ease;
}

.circle:hover {
    transform: scale(1.1);
}

.circle.active {
    background-color: white;
}

.circle:not(.active) {
    background-color: transparent;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .box-container {
        width: 80vw;
    }

    .box p {
        line-height: 2;
    }
}