@font-face {
    font-family: 'CustomFont';
    src: url('../fonttypes/MoreSugar-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Basic CSS to give the page a slight gray background */
body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, #dae4ec 0%, #bed8f0 50vh) no-repeat;
    background-color: #c7dcee;
    /* Slight gray background */
    font-family: 'CustomFont', sans-serif;
    /* Set a clean font */
    margin: 0;
    margin-top: 20vh;
    margin-bottom: 10vh;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

/* WebKit scrollbar styles */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
    background: #7da3cc;
    border-radius: 2px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #4e7eb2;
}

header {
    color: #4e7eb2;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

main {
    border: solid 5px #7da3cc;
    border-radius: 10px;
    display: block;
    background-color: #f1f1f1;
    padding: 0;
    margin-right: 5vw;
    margin-left: 5vw;
    height: fit-content;
}

nav {
    position: fixed;
    width: 100vw;
    top: 1vh;
    left: 0;
    height: 12vh;
    background-color: #f1f1f1;
    z-index: 10;
    border-top: solid 5px #7da3cc;
    border-bottom: solid 5px #7da3cc;
    transition: top 0.2s ease-out, height 0.2s linear;
}

nav ul {
    list-style-type: none;
    margin: 0;
    margin-right: 15vw;
    padding: 0;
    height: 100%;
    text-align: right;
}

nav .logo {
    position: fixed;
    left: 15vw;
    max-height: 12vh;
    display: inline-block;
    transition: height 0.2s linear;
}

nav ul li {
    height: 100%;
    display: inline-block;
}

nav ul li a {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    font-size: 3vh;
    display: flex;
    color: #4e7eb2;
    text-decoration: none;
    text-align: center;
    align-items: center;
}

nav ul li a:hover {
    background-color: #7da3cc;
    color: #f1f1f1;
}

/* Dropdown styling */
nav ul li.dropdown {
    position: relative;
}

nav ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f3f3f3;
    width: 100%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

nav ul li.dropdown:hover .dropdown-content {
    display: block;
}

nav ul li .dropdown-content li {
    background-color: #f3f3f3;
    display: block;
}

nav ul li .dropdown-content li a {
    padding: auto;
    font-size: 2vh;
    text-align: center;
}

nav ul li .dropdown-content li a:hover {
    background-color: #7da3cc;
}

footer {
    display: flex;
    text-align: center;
    background-color: #7da3cc;
    color: white;
    margin-top: 5vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: 100%;

    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

footer img {
    background-color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    height: 100%;
}

/* Tablet responsiveness */
@media (max-width: 1500px) {
    nav ul li a {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 2.5vh;
    }
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    body {
        background-color: #f0f0f0;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        height: 95vh;
    }

    header h1 {
        font-size: larger;
    }

    main {
        padding-left: 1vw;
        padding-right: 1vw;
        overflow-y: scroll;
    }

    nav {
        position: relative;
        height: auto;
        width: 100vw;
        top: 0;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    }

    nav ul li {
        display: block;
        width: 100%;
        /* Stack items vertically */
    }

    nav ul li a {
        padding: 12px 20px;
        /* Adjust padding for better touch targets */
    }

    nav ul li.dropdown {
        position: static;
        /* Make dropdown behave as part of the flow */
    }

    nav ul li .dropdown-content {
        position: relative;
        /* Position dropdown inside the flow */
        min-width: 100%;
        display: none;
        /* Keep dropdown hidden initially */
    }

    nav ul li.dropdown:hover .dropdown-content {
        display: block;
        /* Show dropdown on hover */
    }

    nav ul li .dropdown-content li a {
        padding: 12px 20px;
        padding-left: 10vw;
        /* Adjust padding for mobile */
    }

    nav .logo {
        display: none;
    }
}