/* Used by Resource Pages such as "project", "papers" and "leaflets". */
main {
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 25vh;
    height: fit-content;
    padding: 0;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.left-aligned {
    flex-direction: row;
    justify-content: flex-start;
}

.content {
    font-family: 'Ariel', sans-serif;
}

.left-aligned .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-aligned {
    background-color: #7da3cc;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.right-aligned .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    color: white;
}

.image {
    min-width: 20%;
    max-width: 40%;
    height: auto;
    margin: 20px;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
}

.text {
    font-size: 1em;
}

/* Tablet responsiveness */
@media (max-width: 1500px) {
    .image {
        min-width: 30%;
        max-width: 50%;
    }
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .left-aligned, .right-aligned {
        flex-direction: column;
        justify-content: center;
    }

    .content, .right-aligned .content {
        text-align: center;
    }

    .image {
        min-width: 60%;
        max-width: 80%;
    }

    .box {
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
}