/* Used by Resource Pages such as "project", "papers" and "leaflets". */
main {
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    align-items: center;
    width: 84%;
    min-height: 25vh;
    height: fit-content;
    padding: 0;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 8%;
    padding-right: 8%;
}

.left-aligned {
    flex-direction: row;
    justify-content: flex-start;
}

.content {
    font-family: 'Ariel', sans-serif;
}

.left-aligned .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-aligned {
    background-color: #7da3cc;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.right-aligned .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    color: white;
}

.image {
    width: 30%;
    height: auto;
    margin: 20px;
    border: solid 5px #7da3cc;
    border-radius: 8px;
}

.right-aligned .image {
    border-color: #f1f1f1;
}

.title {
    font-size: 1.7em;
    font-weight: bold;
}

.text {
    font-size: 1.2em;
}

/* Tablet responsiveness */
@media (max-width: 1500px) {
    .image {
        width: 40%;
    }
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .title {
        font-size: 1.5em;
    }
    
    .text {
        font-size: 1em;
    }

    .left-aligned, .right-aligned {
        flex-direction: column;
        justify-content: center;
    }

    .content, .right-aligned .content {
        text-align: center;
    }

    .image {
        width: 80%;
    }

    .box {
        width: 90%;
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-left: 5%;
        padding-right: 5%;
    }

}